p {
    color: red;
    background-color: green;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 25px;
    border: 10px solid blue;
}

a {
    color: yellow;
    font-size: 30px;
}

.google {
    background-color: pink;
}